@import '../settings/conf';

.dropdown {
    width: auto;
    background-color: transparent;
    border: 1px solid rgba($gray, 0.4);
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    $root: &;
    border-radius: 3px;
    color: $gray;

    &:after {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $gray;
        margin-left: $quarter--space;
        display: block;
    }

    &__options {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        z-index: 10;
    }

    &__item {
        padding: 5px;
        background-color: $white;
        color: $gray;
        transition: ease background-color .4s;

        &:hover {
            background-color: $gray;
            color: $white;
        }
    }

    &--big {
        padding: 10px;
        font-size: 20px;

        &:after {
            border-width: 7px;
        }
    }

    &--white {
        color: $white;
        border-color: $white;

        &:after {
            border-top-color: $white;
        }
    }

    &--show {
        #{$root}__options {
            display: block;
        }
    }
}
