@import '../settings/conf';

.filter-container {

    background-color: $white;
    
    &__title {
        color: $dark--gray;
        padding: $space;
        text-transform: uppercase;
        box-shadow: 0 0 1px 1px rgba($gray, .1);
        font-size: 13px;
    }

    &__icon {
        color: $gray;
    }
}
