@import '../settings/conf';

.header-search {
    background-color: $blue;
    padding-top: $space;
    font-weight: 300;
    
    .wrapper {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 200px;
    }

    &__selectors {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 20px;
        flex-direction: column;
        height: 180px;
        justify-content: space-around;

        @media #{$gt--mid} {
            flex-direction: row;
            height: auto;
        }
    }
}
