@import '../settings/conf';

.header {
    background-color: $white;
    height: $height--menu;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
    }

    &__figure {
        margin: 0 0;
    }
}
