@import '../settings/conf';

.loading {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    color: $white;
    font-size: 14px;
    background-color: $green;
    padding: 5px;
    border-radius: 2px 0 0 0;
}
