//--------
//Setting space
//--------
$space: 20px !default;
$double--space: $space * 2 !default;
$triple--space: $space * 3 !default;
$quad--space: $space * 4 !default;
$half--space: $space / 2 !default;
$quarter--space: $space / 4 !default;
$none--space : 0;

//--------
// Breakpoints
//--------
$phone--start:       320px!default;
$palm--start:        500px!default;
$mid--start:         960px!default;
$lap--start:        1224px!default;
$desk--wide--start:   1824px!default;

//--------
// Colors
//--------
$white: #fff !default;
$gray: #717878 !default;
$green: #16c482 !default;
$blue: #225794 !default;

//--------
// Font Weight
//--------
$weight--bold: 600 !default;
$weight--normal: 500 !default;
$weight--lighter: 300 !default;
$weight--thin: 100 !default;

//--------
// Others
//--------
$height--menu: 80px !default;