@mixin my-placeholder($input, $color, $weight, $font-style, $font-size) {
    #{$input}::-webkit-input-placeholder {
      color: $color;
      font-weight: $weight;
      font-style: $font-style;
      font-family: $font--paragraph;
      font-size: $font-size;
    }
  
    #{$input}:-moz-placeholder { /* Firefox 18- */
      color: $color;
      font-weight: $weight;
      font-style: $font-style;
      font-family: $font--paragraph;
      font-size: $font-size;
    }
  
    #{$input}::-moz-placeholder {  /* Firefox 19+ */
      color: $color;
      font-weight: $weight;
      font-style: $font-style;
      font-family: $font--paragraph;
      font-size: $font-size;
    }
  
    #{$input}:-ms-input-placeholder {
      color: $color;
      font-weight: $weight;
      font-style: $font-style;
      font-family: $font--paragraph;
      font-size: $font-size;
    }
  }
  
@mixin font-sizes-px-responsive($is_responsive, $min-size, $max-size) {
    
    @if $is_responsive == 'true' {
      
      @each $breakpoint in $breakpoints {
        $device_name: nth($breakpoint, 1);
        $responsive: nth($breakpoint, 2);
        $__prefix : '.' + $device_name + '-';
        @media #{$responsive} {
          @for $i from $min-size through $max-size {
              #{$__prefix}size-#{$i}{ font-size: #{$i}px !important; }
          }
        }
      }
      
    } @else {
      
      @for $i from $min-size through $max-size {
        .size-#{$i} { font-size: #{$i}px !important; }
      }
      
    }
  }
  
@mixin scroll-style($selector, $width, $height,
                      $bg-color-track, $opacity-track, $bg-color-thumb, $opacity-thumb,
                      $border-width, $border-color, $border-style, $border-radius) {
                        
    #{$selector}::-webkit-scrollbar {
      width: $width;
      height: $height;
    }
      
    #{$selector}::-webkit-scrollbar-track {
      background-color: rgba( $bg-color-track , $opacity-track);
      border-radius: $border-radius;
    }
      
    #{$selector}::-webkit-scrollbar-thumb {
      background-color: rgba( $bg-color-thumb, $opacity-thumb);
      border: $border-width $border-color $border-style;
      border-radius: $border-radius;
    }
  }
  
@mixin ratio($selector, $aspect-ratio) {
    #{$selector} {
      position: relative;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
  
      &:before {
        content: '';
        display: block;
        $value: 0%;
        @if $aspect-ratio == '1:1' {
          $value: 100%;
        } @else if $aspect-ratio == '2:1' {
          $value: 50%;
        } @else if $aspect-ratio == '1:2' {
          $value: 200%;
        } @else if $aspect-ratio == '4:3' {
          $value: 75%;
        } @else if $aspect-ratio == '16:9' {
          $value: 56.25%;
        } @else if $aspect-ratio == '3:2' {
          $value: 66.6666666667%;
        } @else {
          $value: 100%; /* 1:1 */
        }
  
        padding-top: $value;
      }
    }
  
    >* {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
}
