@import '../settings/mesaures';

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $background-body;

    @media #{$gt--mid} {
        padding-top: $height--menu;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    header {
        .wrapper {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    section {
        .wrapper {
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    a {
        text-decoration: none;
    }
}

